@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');

body {
  height: 100%;
  background-color: darkslategrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.frame {
  background-color: white;
  border-radius: 10px;    
  border: 2px solid lightgrey;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.frame-external {
  width: 360px;
  box-shadow: 10px 10px 5px rgb(26,26,26);
}

.frame-internal:first-of-type {
  border: none;
  justify-content: center;
}

.frame-internal:last-of-type {
  margin-top: 10px;
}

.animal-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.animal-name {
  font-family: 'Caesar Dressing', cursive;
}

@media screen and (orientation: landscape) and (max-width: 1160px) {
  .frame-external {
    justify-content: center;
    width: 640px;
  }

  .frame-internal:first-of-type {
    order: 1;
    flex: 1 1;
  }

  .frame-internal:last-of-type {
    order: 2;
    flex: 1 1;
  }
}
