/* add your CSS here */
ul {
    list-style: none;
    padding-left: 0px;
}

img {
    padding-bottom: 12px;
}

.title {
    font-size: 23px;
}

.bold {
    font-weight: bold; 
}

.italic {
    font-style: italic; 
}

.frame {
    border-radius: 5px;
    padding: 0px 16px 0px 16px;    
    border: 1px solid lightgrey;
    width: 300px;
}

.external {
    padding-bottom: 16px;
    box-shadow: 10px 10px 5px rgb(230,230,230);
}

.internal {
    width: auto;
}
