@import "https://fonts.googleapis.com/css?family=Exo";

.bg-darkknight {
  background-color: #1d1f20;
}

.bg-bluesky-gradient {
  background: linear-gradient(to bottom, #207cca 25%,lightgray 75%);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 4px;
  padding: 5px;
  border-radius: 7pt;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.normal {
	filter: invert(0%);
}

.inverted {
	filter: invert(100%);
}

body {
  min-width: 360px;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  font-family: "Exo", sans-serif;
}

.logo {
  min-width: 15%;
}

.bio {
  width: 85%;
  padding-right: 20px;
  color: lightgray;
}

hr {
  height: 5px;
}

article {
  flex: 1 1 calc(100% / 3);
}

.batman-article {
   order: 3;
}

.wonder-woman-article {
  order: 1;
}

.green-lantern-article {
  order: 2;
}

figure {
  width: 100%;
}

.figure-img {
  width: 100%;
  max-width: 100%;
}


figcaption {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: gray;
}

.call-them-too-title {
  margin-top: 5px;
}

@media screen and (max-width: 360px) {
  .call-them-too-title {
    margin-top: 60px;
  }

  body {
    margin: 0 auto;
  }

  .bio {
    font-size: small;
  }
} 
